.navbar {
    background-color: #2a064e;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}


footer {
    background-color: #2a064e;
    color: #ffffff;
}

.callout-container {
    height: 100vh;
    background: url('../assets/images/cover-image.jpg');
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    margin-top: 5%;
    background: rgba(42, 6, 78, 0.9);
}

.callout-header {
    color: #fff;
}

.callout-sub {
    color: #fff;
}

.callout-text {
    color: #fff;
}

.current-season {
    background-color: #2a064e;
}

.current-season-header{
    color: #fff;
}

.current-season-text {
    color: #fff;
}

