* {
    font-family: 'Arimo', sans-serif;
}

.section-header {
    font-weight: bold;
}

/* Navigation */

.navbar {
    background-color: #2a064e;
}

.navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

/* Footer */


footer {
    background-color: #2a064e;
    color: #ffffff;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-section {
    padding-top: 10px;
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
}

.footer-text {
    font-size: 16px;
}

.footer-list a {
    color: rgba(255,255,255,.5);
}

.footer-list a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.listen-button {
    margin: 10px;
}

.social-links li {
    display: inline-block;
}

.social-links li a i {
    color: rgba(255,255,255,.5);
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.social-links li a i:hover {
    color: rgba(255,255,255,1);
}

/* Callout */

hr {
    height: 2px;
    width: 50%;
    margin: auto;
    padding: 15px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.callout-container {
    height: 100vh;
    background: url('../assets/images/cover-image.jpg');
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    margin-top: 5%;
    background: rgba(42, 6, 78, 0.9);
}

.callout-header {
    color: #fff;
}

.callout-sub {
    color: #fff;
}

.callout-text {
    color: #fff;
}

/* Listen */

.listen-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.audio-player {
    display: inline-block;
}

.latest-episode {
    display: inline-block;
    text-align: left;
}

/* Current Season */

.current-season {
    background-color: #2a064e;
    padding-top: 40px;
    padding-bottom: 40px;
}

.current-season-header {
    color: #fff;
    font-weight: bold;
}

.current-season-text {
    color: #fff;
    text-align: left;
}

.current-season-text a {
    color: rgba(255,255,255,.5);
}

.current-season-text a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.other-seasons-text {
    color: #fff;
}

.other-seasons-text a {
    color: rgba(255,255,255,.5);
}

.other-seasons-text a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

/* Review Section */

.review-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-header {
    font-weight: bold;
}

.blockquote i {
    font-size: 0.5rem;
}

/* About Page */

.mr-logo {
    margin: auto;
}

.brief-summary {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-seasons {
    background-color: #2a064e;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-seasons-text {
    color: #fff;
}

.systems-used {
    padding-top: 40px;
    padding-bottom: 40px;
}

.systems-used-text {
    text-align: left;
}

.podcast-business {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pbta-logo {
    padding: 10px;
}

.sw-logo {
    padding: 10px;
}

.id-logo {
    padding: 10px;
}

/* Episodes Page */

.episodes-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.all-episodes {
    width: 200px;
    margin: 5px;
}

.card-body {
    padding: 0px;
}

.header-box {
    background-color: #2a064e;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.episode-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-player {
    padding-bottom: 5px;
}

/* Players Page */

.player-intro {
    padding-top: 40px;
    padding-bottom: 40px;
}

.player-main {
    background-color: #2a064e;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.player-alternate {
    padding-top: 40px;
    padding-bottom: 40px;
}

.player-image {
    display: inline-block;
}

.player-description {
    display: inline-block;
}

/* Contact Page */

.contact-details {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-form {
    padding-top: 40px;
    padding-bottom: 40px;
}

.press-kit {
    padding-top: 40px;
    padding-bottom: 40px;
}