/* General Styling */

body {
    font-family: 'Arimo', sans-serif;
}

.page-header {
    height: 30vh;
    background: url('../images/general-images/cover-image.jpg');
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-img {
    height: 100vh;
}

.page-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.white-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.purple-section {
    background-color: #2a064e;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

/* General Text Styling */

a {
    color: rgba(255, 255, 255, .5);
}

a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.white-section a {
    font-weight: bold;
    color: rgba(42, 6, 78, 1);
}

.white-section a:hover {
    color: rgba(42, 6, 78, .5);
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
}

.footer-text {
    font-size: 16px;
}

.section-header {
    font-weight: bold;
}

/* Navigation */

.navbar {
    background-color: #2a064e;
}

.navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

/* Footer */

footer {
    background-color: #2a064e;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-section {
    padding-top: 10px;
}

.footer-list a {
    color: rgba(255, 255, 255, .5);
}

.footer-list a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.listen-button {
    margin: 10px;
}

.social-links li {
    display: inline-block;
}

.social-links li a i {
    color: rgba(255, 255, 255, .5);
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.social-links li a i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Callout */

.jumbotron {
    margin-top: 5%;
    background: rgba(42, 6, 78, 0.9);
}

.callout {
    color: #fff;
}

hr {
    height: 2px;
    width: 50%;
    margin: auto;
    padding: 15px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* Listen */

.listen-block {
    display: inline-block;
}

.subscribe {
    padding-bottom: 10px;
}

.subscribe a {
    color: #fff;
}

/* Current Season */

.current-season-header {
    font-weight: bold;
}

/* Review Section */

.reviews-header {
    font-weight: bold;
}

.blockquote i {
    font-size: 0.5rem;
}

/* About Page */

.mr-logo {
    margin: auto;
}

.carousel {
    max-width: 300px;
    margin: auto;
}

.story-list {
    list-style: none;
}

.embed-responsive {
    padding-bottom: 20px;
}

.about-divide {
    height: 2px;
    width: 50%;
    margin: auto;
    padding: 15px;
    border: 0;
    border-top: 1px solid rgba(42, 6, 78, 0.5);
}

.logo {
    padding: 10px;
}

/* Episodes Page */

.episodes-intro {
    padding-top: 40px;
    padding-bottom: 10px;
}

.seasons {
    display: inline-block;
    padding-bottom: 10px;
}

.episode-cards {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-body {
    padding: 0px;
}

.header-box {
    background-color: #2a064e;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.episode-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.episode-description a {
    font-weight: bold;
    color: rgba(42, 6, 78, 1);
}

.episode-description a:hover {
    color: rgba(42, 6, 78, .5);
}

.audio-player {
    padding-bottom: 10px;
}

.all-episodes {
    width: 200px;
    margin: auto;
}

/* Players Page */

.player-intro {
    padding-top: 40px;
    padding-bottom: 40px;
}

.player-block {
    display: inline-block;
}

.player-sub {
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 576px) {
    .navbar .navbar-brand {
        font-size: 15px;
    }
}
